@charset "UTF-8";

/* reset */
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{
    margin:0;
    padding:0;
}
body,button,input,select,table,textarea{
    font-size: 12px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif
}
button,input{
    border-radius:0
}
fieldset,img{
    border:0
}
ol,ul{
    list-style:none
}
address,em{
    font-style:normal
}
a{
    text-decoration:none
}
a:hover{
    text-decoration: none;
}

/* end code snippet to reset */

.bg_element{
   background: #eee;
}

.line{
    border: 1px solid #f00;
    color: #f00;
    font-size: 40px;
}

/* layout */
.example-layout-01{
    width: 1000px;
    margin: 0 auto;
}

header.hd-layout-basic{
    height: 80px;
}

nav.nav-layout-basic{
    height: 80px;
    margin: 10px 0;
}

.left-side{
    float: left;
    width: 790px;
    margin-right: 10px;
}

aside.aside-layout-basic{
    float: left;
    width: 200px;
    height: 510px;
}

/*.body-layout-basic:after{*/
    /*content: "";*/
    /*clear: both;*/
    /*display: block;*/
/*}*/

.section01-layout-basic{
    height: 300px;
}

.article01-layout-basic{
    height: 200px;
    margin-top: 10px;
}

footer.ft-layout-basic{
    margin-top: 10px;
    height: 80px;
}


.clearfix:after{
    clear: both;
    content: '';
    display: block;
}

.break-line{

}


.three_box{
    float: left;
    width: 300px;
}

.three_box_mid{
    margin: 0 50px;
}


.center{
    text-align: center;
}




#hd{

}

.header{

}





.left-area{
    float: left;
    height: 500px;
    background: #eee;
    width: 600px;
}

.aside-area{
    float: left;
    width: 200px;
    background: #eee;
    height: 500px;
}

.content{
    width: 1000px;
    margin: 0 auto;
    height: 100px;
}

/* 이것은 스타일시트입니다. */

.header{
    color: #000;
    font-size: 20px;
    /*border: 1px solid #000;*/
    height: 50px;
    /*padding: 10px;*/
    /*margin: 10px;*/
    background: #0baba4;
}

.contents{
    color: #fff;
    font-size: 20px;
    /*border:2px solid #f56200;*/
    /*height: 600px;*/
    background: #f56200;
}

.footer{
    font-size:20px;
    height: 100px;
    background: #eee;
    /*padding:10px;*/
    /*margin:10px;*/
}


.wrapper{
    width: 1000px;
    margin: 0 auto;
}

.navi{
    height: 50px;
}



.section01{
    background: #f0f;
    height: 100px;
    margin-bottom: 10px;
}

.article{
    background: #ff0;
    height: 50px;
}

.aside-content{
    padding: 10px;
}


.leftarea{
    width:700px;
    background:#f00;
    float : left;
}

.rightarea{
    width: 300px;
    background: #0baba4;
    float: left;
}

.link{
    display: block;
}


.link_navi{
    font-size: 16px;
    color: #000;
}





